<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .center {
            padding: 30px;
            border: 3px blue;
            text-align: center;
        }

        h1 {
            font-family: 'Tangerine', serif;
            font-size: 50px;
            text-align: center;
        }

        h2 {

            font-size: 37px;
            text-align: left;
        }
    </style>
</head>

<body>

    <h1 style="color:black;" allign="center"><b>Seven URL Shortener</b></h1>
    <div class="tabs is-centered" >
        <ul>
            <li class="is-active">
                <a>
                    <span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span>
                    <span onclick="window.location='/'">Home</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                    <span onclick="window.location='/stats'">statistics</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="center">
        <div>

            <img src="https://github.com/rith-vik-7/trash/blob/main/short.jpg?raw=true" alt="short" width="700" height="433">
        </div>
        <section class="section">
            <div class="container">
                <form method="POST" action="{{ url_for('short.add_link') }}">
                    <div class="field">

                        <div class="control">
                            <input class="input" type="text" placeholder="Shorten your link" name="original_url">

                        </div>

                    </div>
                    <div class="control">
                        <button type="submit" style="float: right;" class="button is-info">Shorten</button>
                    </div>

                </form>
            </div>
        </section>
    </div>
</body>
<script>
document.addEventListener('keydown', function() {
  if (event.keyCode == 123) {
    alert("This function has been disabled to prevent you from stealing my code!");
    return false;
  } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
    alert("This function has been disabled to prevent you from stealing my code!");
    return false;
  } else if (event.ctrlKey && event.keyCode == 85) {
    alert("This function has been disabled to prevent you from stealing my code!");
    return false;
  }
}, false);

if (document.addEventListener) {
  document.addEventListener('contextmenu', function(e) {
    alert("This function has been disabled to prevent you from stealing my code!");
    e.preventDefault();
  }, false);
} else {
  document.attachEvent('oncontextmenu', function() {
    alert("This function has been disabled to prevent you from stealing my code!");
    window.event.returnValue = false;
  });

}
</script>
</html>
